{% extends 'base.html' %}
{% load static %}
{% block title %}
    志愿者首页
{% endblock %}
{% block topbar-title %}
    志愿者管理平台
{% endblock %}
{% block content %}
    <form action="/volunteer/api/retrieve/" method="POST" class="am-form">
        <table width=100% style="border-top: 2px solid #b6b6b6">
            <tr>
                <td width=1% >
                    <input type="submit" value="认领"  style="color: #10a0ea"></input>
                </td>
                <td style="width:15%;  border: 2px solid #b6b6b6; border-bottom: 2px solid #b6b6b6"><!--图片+分类-->
                    图片
                </td>
                <td width=65% style="border-right: 2px solid #b6b6b6; border-bottom: 2px solid #b6b6b6"><!--描述-->
                    描述
                </td>
                <td width=20% style="border-right: 2px solid #b6b6b6;border-bottom: 2px solid #b6b6b6"><!--失主+联系方式-->
                    联系方式
                </td>
            </tr>
            {% for i in lostItemValues %}
            {% if not i.status %}
            <tr style="border: 2px solid #b6b6b6">
                <td width=1% style="padding: 1rem">
                     <input type="checkbox" name="retrieveCheckBox"  value="{{i.id}}" class="am-checkbox">
                </td>
                <td style="width:15%; height:15rem; border: 2px solid #b6b6b6; border-bottom: 2px solid #b6b6b6"><!--图片+分类-->

                    <img src="{{i.src}}" width=100% height=100%></img>
                </td>
                <td width=65% style="padding: 10px;border-right: 2px solid #b6b6b6; border-bottom: 2px solid #b6b6b6"><!--描述-->
                    {{i.description}}
                </td>
                <td width=20% style="padding: 10px;border-right: 2px solid #b6b6b6;border-bottom: 2px solid #b6b6b6"><!--失主+联系方式-->
                    {{i.owner}}<br>{{i.contact}}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <div id="content" class="wrapper">
            <a href="/volunteer/upload/" class="am-btn am-btn-default am-btn-success am-center" style="">批量上传</a>
        </div>
    </form>

{% endblock %}
