{% load static %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>丢丢仓库 - 交大丢丢</title>
  <script type="text/javascript" src="{% static "js/react.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/react-dom.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/browser.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery-3.1.0.min.js" %}"></script>
</head>
<body>
  <h1>志愿者登录</h1>
  <div id="content" class="wrapper">
  <form action="/volunteer/api/login/" method="POST">
    <label for="username">账号</label><input type="text" name="username">
    <label for="password">密码</label><input type="password" name="password">
    <button type="submit">登录</button>
  </form>
  {{message}}
  </div>

</body>
</html>