{% extends 'base.html' %}
{% load static %}
{% block title %}
    志愿者登录
{% endblock %}
{% block topbar-title %}
    志愿者登录
{% endblock %}
{% block content %}
  <form action="/volunteer/api/login/" method="POST" class="am-form" >
      <div class="am-form-group">
          <label for="username">账号</label>
          <input type="text" class="" name="username">
      </div>
      <div class="am-form-group" style="margin: 0px;">
          <label for="password">密码</label>
          <input type="password" class="" name="password">
      </div>
          <button type="submit" class="am-btn am-btn-default am-btn-success am-center" style="width:100%; line-height: 25px">登录</button>
  </form>
  <p style="color: #be2924">{{message}}</p>
  </div>
{% endblock %}
