body {
  font-family:Helvetica;
  background-color: #eeeeee;
}

.topbar-left {
  font-size: large;
  margin: 1rem auto 1rem 0rem;
}

.topbar-center {
  font-size: large;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.topbar-right {
  font-size: large;
  text-align: right;
  margin: 1rem 0rem 1rem auto;
}

.topbar-space {

}