<!--

{% load static %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>丢丢仓库 - 交大丢丢</title>
  <script type="text/javascript" src="{% static "js/react.js" %}"></script>
  <script type="text/javascript" src="{% static "js/react-dom.js" %}"></script>
  <script type="text/javascript" src="{% static "js/browser.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery-3.1.0.js" %}"></script>
</head>
<body>
  <h1>丢丢仓库</h1>
  <div id="content">
    <div id="category-selector"></div>
    <div id="location-selector"></div>
    <div id="found-list"></div>
    <div id="page-selector"></div>
  </div>
  <script type="text/javascript">
    var MEDIA_URL = "{{MEDIA_URL}}";
  </script>
  <script type="text/babel" src="{% static "js/found_list.js" %}"></script>
</body>
</html>

-->