{% load static %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">

  <title>
    {% block title %}{% endblock %} - 交大丢丢
  </title>

  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
  <link rel="stylesheet" href="{% static "css/base.css" %}">

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
  <script type="text/javascript" src="{% static "js/base.js" %}"></script>

  <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}">
  {% block static %}
  {% endblock %}
</head>
<body>
  <header class="am-topbar am-topbar-fixed-top">
    <div class="topbar-left am-u-sm-2"><a href="javascript:window.history.back()"><span class="am-icon-angle-left am-icon-sm"></span></a></div>
    <div class="topbar-center am-u-sm-8">{% block topbar-title %}{% endblock %}</div>
    <div class="topbar-right am-u-sm-2"><a href="/"><span class="am-icon-home am-icon-sm"></span></a></div>
  </header>

  {% block content %}
  {% endblock %}

  {% block controller %}
  {% endblock %}
</body>
</html>