{% load static %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">

  <title>
    {% block title %}{% endblock %} - 交大丢丢
  </title>

  <link rel="stylesheet" href="{% static "css/amazeui.css" %}">
  <link rel="stylesheet" href="{% static "css/base.css" %}">

  <script type="text/javascript" src="{% static "js/browser.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery-3.1.0.js" %}"></script>
  <script type="text/javascript" src="{% static "js/react.js" %}"></script>
  <script type="text/javascript" src="{% static "js/react-dom.js" %}"></script>
  <script type="text/javascript" src="{% static "js/amazeui.js" %}"></script>
  <script type="text/javascript" src="{% static "js/base.js" %}"></script>

  <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}">

  {% block static %}
  {% endblock %}
</head>
<body>
  <header class="am-topbar am-topbar-fixed-top">
    <h1 class="am-topbar-brand">
      <a href="/" class="am-text-ir"></a>
    </h1>

    <div class="am-topbar-brand">
      <h1>
        <a href="#">
          {%  block topbar-title %}
          {% endblock %}
        </a>
      </h1>
    </div>

  </header>

  {% block content %}
  {% endblock %}
</body>
</html>