{% load static %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">

  <title>
    首页 - 交大丢丢
  </title>

  <link rel="stylesheet" href="{% static "css/amazeui.css" %}">
  <link rel="stylesheet" href="{% static "css/index.css" %}">

  <script type="text/javascript" src="{% static "js/browser.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery-3.1.0.js" %}"></script>
  <script type="text/javascript" src="{% static "js/react.js" %}"></script>
  <script type="text/javascript" src="{% static "js/react-dom.js" %}"></script>
  <script type="text/javascript" src="{% static "js/amazeui.js" %}"></script>
  <script type="text/javascript" src="{% static "js/index.js" %}"></script>

  <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}">

</head>
<body>
  <div class="am-g" style="text-align: center;padding: 0rem 0 0 0">

      <img  src="{% static "img/index.jpg" %}" width=100% />
  </div>
  <div class="am-g" style="padding: 0rem 6rem 0rem 6rem;border:none; border-bottom:solid 1px gray;">
    <div class="am-u-sm-6" id="loser" style="color: #888888;text-align: center; font-size: 5vw; border:none; border-bottom:solid 3px black;">我是失主</div>
    <div class="am-u-sm-6" id="founder" style="color: #888888;text-align: center; font-size: 5vw;border:none; ">我是拾主</div>
  </div>
  <div class="am-g" id="loserDetail" style="padding: 3rem 0rem 0rem 0rem;">
  <form action="/lost/beforeUpload" method="get" class="am-form">
    <div style="padding: 0 0 2rem 0;">
      <div class="am-u-sm-8 am-u-sm-centered">
        <div class="am-g" style="padding-bottom: 0rem; border:none; border-bottom:solid 1px gray;">
          <div class="am-u-sm-3"><span class="am-icon-suitcase am-icon-md" style="color:gray;"></span> </div>
          <div class="am-u-sm-9" id="selectorA">
          <select id="selector1" onchange="selector1()" name="selector1">
          </select>
          <span class="am-form-caret"></span>
        </div>
        </div>
        <div class="am-g" style="padding-bottom: 0rem ;padding-top: 4rem ; border:none; border-bottom:solid 1px gray;">
          <div class="am-u-sm-3"><span class="am-icon-location-arrow am-icon-md" style="color:gray;"></span> </div>
          <div class="am-u-sm-9" id="selectorB">
          <select id="selector2" onchange="selector2()" name="selector2">
          </select>
          <span class="am-form-caret"></span>
        </div>
        </div>
      </div>
    </div>
    <div  style=" padding:2rem 0 0 0rem;">
      <div class="am-u-sm-10 am-u-sm-offset-1">
      <button type="submit" class="am-btn  am-btn-success am-center" style="font-size: 2rem;">查找</button>
      </div>
    </div>
  </div>
  </form>
  <div class="am-g" id="founderDetail" style="padding: 4rem 0rem 0rem 0rem;display: none">
  <form action="/lost/itemList" method="get" class="am-form">
    <div style="padding: 0 0 2rem 0;">
      <div class="am-u-sm-8 am-u-sm-centered">
        <div class="am-g" style="padding-bottom: 0rem; border:none; border-bottom:solid 1px gray;">
          <div class="am-u-sm-3"><span class="am-icon-suitcase am-icon-md" style="color:gray;"></span> </div>
          <div class="am-u-sm-9" id="selectorA">
          <select id="selector3" onchange="selector3()" name="selector3">
          </select>
          <span class="am-form-caret"></span>
        </div>
        </div>
        <div class="am-g" style="padding-bottom: 0rem ;padding-top: 4rem ; border:none; border-bottom:solid 1px gray;">
          <div class="am-u-sm-3"><span class="am-icon-location-arrow am-icon-md" style="color:gray;"></span> </div>
          <div class="am-u-sm-9" id="selectorB">
          <select id="selector4" onchange="selector4()" name="selector4">
          </select>
          <span class="am-form-caret"></span>
        </div>
        </div>
      </div>
    </div>
    <div  style=" padding:2rem 0 0 0rem;">
      <div class="am-u-sm-10 am-u-sm-offset-1">
      <button type="submit" class="am-btn  am-btn-success am-center" style="font-size: 2rem;">查找</button>
      </div>
    </div>
  </div>
  </form>
  <a class="am-btn am-btn-success am-btn-block" href="/lost/lostList" style="position:fixed;bottom:0;">查看寻物启事</a>
  <script>
      $("#loser").click(function(){
          $("#loser").css("border-bottom","solid 3px black");
          $("#founder").css("border-bottom","none");
          $("#loserDetail").css({"display":"block","padding":"3rem 0rem 0rem 0rem"});
          $("#founderDetail").css("display","none");
      })
      $("#founder").click(function(){
          $("#loser").css("border-bottom","none");
          $("#founder").css("border-bottom","solid 3px black");
          $("#founderDetail").css({"display":"block","padding":"3rem 0rem 0rem 0rem"});
          $("#loserDetail").css("display","none");
      })
      var MEDIA_URL = "{{ MEDIA_URL }}";
      var selector1_init_url = "{{ selector1_init_url }}";
      var selector2_init_url = "{{ selector2_init_url }}";
      var selector3_init_url = "{{ selector1_init_url }}";
      var selector4_init_url = "{{ selector2_init_url }}";

  </script>
      <script type="text/javascript" src="{% static "js/index_controller.js" %}"></script>
      <script type="text/javascript">
        init();
      </script>
</body>
</html>
