{% extends 'list_base.html' %}
{% load static %}

{% block title %}
  寻物启事
{% endblock %}

{% block topbar-title %}
  寻物启事
{% endblock %}

{% block beforeContent %}
    <div class="am-btn" style="width:100%; margin:0; padding:5px 0 0 0">捡到失物请交到<a style="font-weight: bold; text-decoration: underline" onclick=window.location.href="/lfoffice/">失物招领</a>处!~</div>

{% endblock %}

{% block controller %}
      <script type="text/javascript">
    var MEDIA_URL = "{{ MEDIA_URL }}";
    var selector1_init_url = "{{ selector1_init_url }}";
    var selector2_init_url = "{{ selector2_init_url }}";
    var items_url = "{{ items_url }}";
  </script>

  <script type="text/javascript" src="{% static "js/list_base_controller.js" %}"></script>

  <script type="text/javascript">
    init();
  </script>
{% endblock %}