{% extends 'base.html' %}
{% load static %}
{% block title %}
  上传失物信息
{% endblock %}

{% block topbar-title %}
  上传失物信息
{% endblock %}

{% block static %}
  <script src="{% static "js/switchery.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/switchery.css" %}"/>
{% endblock %}

{% block content %}
  <form action="/lost/upload" class="am-form-group" method="post" enctype="multipart/form-data">
    <div class="am-u-sm-10 am-u-sm-centered"  style="padding: 2rem 0rem 5rem 0rem;">
      <div class="am-u-sm-6"style="padding: 2rem 0rem 1rem 2rem;">
          <span class="am-icon-bookmark" id="test">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;物品类别</span>
      </div>
      <div class="am-u-sm-6"style="padding: 2rem 0rem 1rem 0rem;">
        <select id="category" name = "category">
          {% for i in category%}
            <option value="{{i.id}}">{{ i.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="am-u-sm-6"style="padding: 0rem 0rem 1.2rem 2rem;">
        <span class="am-icon-location-arrow">&nbsp;&nbsp;&nbsp;&nbsp;丢失地点</span>
      </div>
      <div class="am-u-sm-6"style="padding: 0rem 0rem 1.2rem 0rem;">
        <select id="location" name = "location">
          {% for i in location%}
            <option value="{{i.id}}">{{ i.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="am-u-sm-6" style="padding: 1rem 0rem 1.2rem 2rem;">
        <span class="am-icon-photo">&nbsp;&nbsp;&nbsp;上传图片</span>
      </div>
      <div class="am-u-sm-6" style="padding: 0.5rem 0rem 1rem 0rem;">
          <div class="am-form-group am-form-file">
            <button type="button" class="am-btn am-btn-default am-btn-sm">
              <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
            <input id="id_image" type="file" name="img" required>
          </div>
          <div id="file-list"></div>
          <script>
              $(function() {
                $('#id_image').on('change', function() {
                  var fileNames = '';
                  $.each(this.files, function() {
                    fileNames += '<span class="am-badge">' + this.name + '</span> ';
                  });
                  $('#file-list').html(fileNames);
                });
              });
          </script>
      </div>
      <div class="am-u-sm-6" style="padding: 0rem 0rem 1.2rem 2rem;">
        <span class="am-icon-phone">&nbsp;&nbsp;&nbsp;&nbsp;联系方式</span>
      </div>
      <div class="am-u-sm-6" style="padding: 0rem 2rem 1.2rem 0rem;">
        <input type="text" id="phone" name = "phone" style="width: 15.8rem;" required>
      </div>
      <div class="am-u-sm-6" style="padding: 0rem 0rem 1.2rem 2rem;">
        <span class="am-icon-info" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注(选填)</span>
      </div>
      <div class="am-u-sm-6" style="padding: 0rem 2rem 1.2rem 0rem;">
        <input type="text" id="remark" style="width: 15.8rem;" name="remark">
      </div>
    </div>
    <div class="am-g" style="padding: 20rem 0rem 1rem 1rem;">
      <div class="am-g" id="appreciate" style="padding: 0rem 0rem 0rem 0rem;">
          <div class="am-u-sm-9" style="padding: 0.5rem 0rem 0rem 4.5rem; font-size: 1.5rem">是否感谢捡到失物的同学？</div>
          <div class="am-u-sm-3" style="padding: 0rem 0rem 0rem 0rem;">
          <input type="checkbox" class="js-switch" name = "appr" value="1" checked>
          <input type="checkbox" name = "appr" value="2" style="display: none;">
                <script>
                    var elem = document.querySelector('.js-switch');
                    var init = new Switchery(elem);
                    elem.onchange = function() {
                        if (!elem.checked) {
                            tmpValue=$("#customer").attr("value")
                            $("#customer").attr("value","no")
{#                            $("#customer").attr("value","no");#}
{#                            $("#customer").attr("value","");#}
{#                            $("#button2").css("display", "inline");#}
                            $("#no").css("display", "inline");
{#                            $("#button1").css("display", "none");#}
                            $("#yes").css("display", "none");
{#                            $("#custom").attr("checked","unchecked");#}
                            $(":checkbox[value=2]").attr("checked","checked");
                        }
                        else{
                            $("#customer").attr("value",tmpValue)
{#                            $("#customer").attr("value",tmpValue);#}
{#                            $("#button1").css("display", "inline");#}
                            $("#yes").css("display", "inline");
{#                            $("#button2").css("display", "none");#}
                            $("#no").css("display", "none");
                            $(":checkbox[value=2]").removeAttr("checked");
                        }
                    };
                </script>
          </div>
      </div>
      <div class="am-u-sm-10" id="no" style="display: none;padding: 2rem 0rem 0rem 8rem; font-size: 1.2rem ">丢丢祝愿失主早日与自己的宝贝重逢！</div>
      <div class="am-g" id="yes" style=" display: inline">
        <div id="text" style="padding: 0rem 0rem 2rem 3.5rem; font-size: 1.2rem">请选择以下一项感谢方式</div>
          <div class="am-u-sm-12" id = appr style="padding: 0rem 0rem 0rem 3rem;">
            <div class="am-g" hidden>
                <label class="am-radio-inline">
              <input type="radio" name="way" value="0" data-am-ucheck>
              不高兴
            </label>
            </div>
            <div class="am-u-sm-10 am-u-sm-centered">
            <div class="am-u-sm-5">
            <label class="am-radio-inline"style="margin-right:0rem">
              <input type="radio" name="way" id="appr1" value="请吃饭" data-am-ucheck  checked>
              请吃饭
            </label>
            </div>
            <div class="am-u-sm-7">
            <label class="am-radio-inline" style="margin-right:0rem">
              <input type="radio" name="way" id="appr2" value="发红包" data-am-ucheck>
              发红包
            </label>
            </div>
            </div>
            <div class="am-u-sm-10 am-u-sm-centered">
            <div class="am-u-sm-5">
            <label class="am-radio-inline" style="margin-right:0rem">
              <input type="radio" name="way" id="appr3" value="感谢信" data-am-ucheck>
              感谢信
            </label>
            </div>
            <div class="am-u-sm-7">
            <label class="am-radio-inline" style="margin-right:0rem">
              <input type="radio" name="way" id="custom" value="啥都行" data-am-ucheck>
              我想
            </label>
                <label id="noCustom" style="display:inline-block;">______</label>

               <input type='text'id="customer" value="none" name="custom" style="width: 0rem; display: none;" />


            </div>
            <script type="text/javascript">
              $("#custom").click(function(){
                  $("#customer").attr("style","width: 5rem; display:inline-block;");
                  $("#customer").attr("required","required");
                  $("#customer").attr("value","");
                  $("#noCustom").attr("style","display:none; width: 0rem;");
              });
              $("#appr1,#appr2,#appr3").click(function(){
                  $("#customer").attr("style","width: 0rem; display: none;");
                  $("#customer").attr("required",null);
                  $("#customer").attr("value","none");
                  $("#noCustom").attr("style","display:inline-block; ");
              });
            </script>
            </div>
          </div>
      </div>
    </div>
    <div class="am-u-sm-3 am-u-sm-centered">
      <button type="submit" class="am-btn am-btn-success" style="text-align: center" value="提交">提交</button>
    </div>
  </form>

{% endblock %}