{% load static %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>提交成功 - 交大丢丢</title>
  <script type="text/javascript" src="{% static "js/react.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/react-dom.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/browser.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery-3.1.0.min.js" %}"></script>
</head>
<body>
  <h1></h1>
  <div id="result">提交成功</div>
  <div id="congratulations">丢丢祝愿失主能早日与自己的宝贝重逢</div>
</body>
</html>