{% extends 'base.html' %}
{% load static %}
{% block title %}
  提交结果
{% endblock %}

{% block topbar-title %}
  提交结果
{% endblock %}

{% block static %}
    <link rel="icon" type="image/png" href="{% static "img/uploadS.png" %}">
    <link rel="icon" type="image/png" href="{% static "img/uploadF.png" %}">
{% endblock %}

{% block content %}
    {% if id > 0 %}
      <div class="am-u-sm-12 am-u-sm-centered" >
        <img  src="{% static "img/uploadS.png" %}" width=100%  />
      </div>
      <div class ="text" style="padding: 0rem 0rem 8rem 2rem; font-size: 1.6rem;text-align: center">
        丢丢祝愿失主能早日与自己的宝贝重逢
      </div>
      <div class ="text" style="padding: 0rem 0rem 8rem 2rem; font-size: 1.6rem;text-align: center">
        <a class="am-text-lg" style="color: #888888; text-decoration: underline; font-weight: normal;" href="/lost/item?id={{ id }}">
          点击此处查看招领启事
        </a>
      </div>
    {% endif %}
    {% if id == 0 %}
      <div class="am-u-sm-12 am-u-sm-centered">
        <img  src="{% static "img/uploadF.png" %}" width=100% style="" />
      </div>
      <div class ="text" style="padding: 0rem 0rem 3rem 0rem; font-size: 1.6rem;text-align: center">
        好像有哪里没填哦</br>请同学检查一下表格重新提交~</br>如果仍然上传失败可以来这里找我哦</br> WeChat ID:jiaodadiudiu
      </div>
      <div class="am-u-sm-4 am-u-sm-centered">
        <a class="am-btn am-btn-success" href="javascript:window.history.back()">重新填写</a>
      </div>
    {% endif %}

{% endblock %}